<div class="container mt-2">
	<div class="row">
		<div class="col-12 text-center">
			<h2 class="text-primary">Fetching Image from URL Demo</h2>
		</div>
	</div>
	<hr>

	<div class="row">
		<div class="col-12">
			<div class="card bg-light">
				<div class="card-body text-center">
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<label for="input_file_select" class="form-control-label">Enter Image URL</label>
								<br>
								<input id="input_file_select" class="form-control-input w-100" #imageURL type="text" >
              </div>
								<br>
								<br>
								<input type="button" class="btn btn-primary" (click)="getImage(imageURL.value)" type="submit">
								<br>
            </div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<br>
			<hr>
			<div *ngIf="base64TrimmedURL" class="row">
				<div class="col-12">
					<div class="card bg-light">
						<div class="card-title">
							<h3 class="text-primary text-center">Output</h3>
							<hr>
						</div>
						<div class="card-body">
							<div class="text-center" *ngIf="generatedImage">
								<img [src]="sanatizeUrl(generatedImage)">
            </div>
								<br>
								<hr *ngIf="base64TrimmedURL">
								<div *ngIf="imageURL.value">
									<p><b>Original URL :</b></p>
									<p>{{imageURL.value | slice:0:40 }}... </p>
								</div>
								<div *ngIf="base64DefaultURL">
									<p><b>Default Base64 URL</b></p>
									<p>{{base64DefaultURL | slice:0:40}}...</p>
								</div>
								<div *ngIf="base64TrimmedURL">
									<p><b>Trimmed Base64 URL</b></p>
									<p>{{base64TrimmedURL | slice:0:40}}...</p>
									<hr *ngIf="base64TrimmedURL">
								</div>
								<small *ngIf="base64TrimmedURL" class="text-info"><sup>*</sup> Strings shown upto 40 characters only..</small>
							</div>
						</div>
					</div>
				</div>

				<br>

				<div class="row">
					<div class="col-12">
						<div class="card text-center bg-light">
							<div class="card-body">
								<h4 class="text-primary">Read article on Medium via link below for more explanation</h4>
								<h5 class="text-danger bg-light">
									<a class="text-danger"
										href="https://medium.com/better-programming/convert-a-base64-url-to-image-file-in-angular-4-5796a19fdc21">
										Convert a Base64 url to image file in Angular 4+
									</a>
								</h5>
								<br>
								<h6>Do checkout our blog <a class="text-danger" href="https://tekraze.com"
										target="_blank">Tekraze.com</a> for more tech posts</h6>
							</div>
						</div>
					</div>
				</div>
			</div>