<div class="row">
    <div class="column1" style="background:#aaa">
        <img id="cardimage" [src]="image">
        <br>
        <div class="url">
            <a href={{url}}>{{ url }}</a>
        </div>
    </div>
    <div class="column2" style="background:#bbb">
        <table class="details"> <!-- style="width:50%" -->
            <tr>
                <div class="section">
                    <th>Name:</th>
                    <td>{{ name }}</td>
                </div>
            </tr>
            <br>
            <tr>
                <div class="section">
                    <th>Type:</th>
                    <td>{{ type }}</td>
                </div>
            </tr>
            <br *ngIf="cost !== undefined">
            <tr *ngIf="cost !== undefined">
                <div class="section">
                    <th>Cost:</th>
                    <td>
                        <ul id="costbreakdown">
                            <li *ngFor="let i of cost">
                                <img id="cost" src={{i.attribute}}>
                            </li>
                        </ul>
                    </td>
                </div>
            </tr>
            <br *ngIf="attDef !== undefined">
            <tr *ngIf="attDef !== undefined">
                <div class="section">
                    <th>Atk / Def:</th>
                    <td>{{ attDef }}</td>
                </div>
            </tr>
            <br *ngIf="race !== undefined">
            <tr *ngIf="race !== undefined">
                <div class="section">
                    <th>Race:</th>
                    <td>{{ race }}</td>
                </div>
            </tr>
            <br>
            <!-- <tr>
                <th>Attribute:</th>
                <td>{{ attribute }}</td>
            </tr>
            <br> -->
            <tr>
                <div class="section">
                    <th>Card Text:</th>
                    <td>{{ text }}</td>
                </div>
            </tr>
            <br *ngIf="flavorText !== undefined">
            <tr *ngIf="flavorText !== undefined">
                <div class="section">
                    <th>Flavor Text:</th>
                    <td>{{ flavorText }}</td>
                </div>
            </tr>
            <br>
            <tr>
                <div class="section">
                    <th>Set Number:</th>
                    <td>{{ number }}</td>
                </div>
            </tr>
            <br *ngIf="rarity !== undefined">
            <tr *ngIf="rarity !== undefined">
                <div class="section">
                    <th>Rarity:</th>
                    <td>{{ rarity }}</td>
                </div>
            </tr>
            <br>
            <tr>
                <div class="section">
                    <th>Artist:</th>
                    <td>{{ artist }}</td>
                </div>
            </tr>
            <br>
            <tr>
                <div class="section">
                    <th>Expansion:</th>
                    <td>{{ expansion }}</td>
                </div>
            </tr>
            <br>
            <!-- <tr>
                <th>Format:</th>
                <td>{{ format }}</td>
            </tr>
            <br> -->
        </table>
    </div>
</div>
