<div class="row">
    <div class="column1">
        <img id="cardimage" [src]="image">
    </div>
    <div class="column2">
        <table> <!-- style="width:50%" -->
            <tr>
                <th>Name:</th>
                <td>{{ name }}</td>
            </tr>
            <br>
            <tr>
                <th>Type:</th>
                <td>{{ type }}</td>
            </tr>
            <br>
            <tr>
                <th>Cost:</th>
                <td>
                    <ul id="costbreakdown">
                        <li *ngFor="let i of cost">
                            <img id="cost" src={{i.attribute}}>
                        </li>
                    </ul>
                </td>
            </tr>
            <br>
            <tr>
                <th>Atk / Def:</th>
                <td>{{ attDef }}</td>
            </tr>
            <br>
            <tr>
                <th>Race:</th>
                <td>{{ race }}</td>
            </tr>
            <br>
            <!-- <tr>
                <th>Attribute:</th>
                <td>{{ attribute }}</td>
            </tr>
            <br> -->
            <tr>
                <th>Card Text:</th>
                <td>{{ text }}</td>
            </tr>
            <br>
            <tr>
                <th>Flavor Text:</th>
                <td>{{ flavorText }}</td>
            </tr>
            <br>
            <tr>
                <th>Set Number:</th>
                <td>{{ number }}</td>
            </tr>
            <br>
            <tr>
                <th>Rarity:</th>
                <td>{{ rarity }}</td>
            </tr>
            <br>
            <tr>
                <th>Expansion:</th>
                <td>{{ expansion }}</td>
            </tr>
            <br>
            <!-- <tr>
                <th>Format:</th>
                <td>{{ format }}</td>
            </tr>
            <br> -->
        </table>
    </div>
</div>
