$bg-color: #dc0800;
$hover-color: #ff312a;
$text-color: #ffffff;

header {
    background: $bg-color;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;
}

.logo {
    font-weight: bold;
    font-size: 1.5em;
    display: inline-block;
    padding: 10px 16px;
    text-decoration: none;
    text-align: center;
    color: $text-color;
}
   
ul {
    background: $bg-color;
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: inline-block;
}

a {
    color: $text-color;
    display: inline-block;
    padding: 10px 16px;
    text-decoration: none;
}

a:hover {
    background: $hover-color;
}
